<style>
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');
/* Force CSS block parsing */
.teacher-note::before {
    content: "";
    display: none;
}

/* Teacher Notes */
.teacher-note {
    border: 3px dashed #fd7f91;
    font-size: 14px;
    color: #000000;
    background-color: #ffe8ec;
    padding: 10px;
    border-radius: 5px;
    line-height: 1.5;
}
.teacher-note ol, .teacher-note ul, .teacher-note li {
    margin-top: 5px;
    padding-left: 20px;
    color: #000000;
}
.teacher-note code {
    color: #000000;
    background-color: #ffd3da;
}

/* Discussion Question */
.discussion-question {
    border: 3px solid #a88bd4;
    font-size: 14px;
    color: #000000;
    background-color: #eee8f6;
    padding: 10px;
    border-radius: 5px;
    line-height: 1.5;
}
.discussion-question h3 {
    margin: 0; /* Remove top and bottom margin */
    padding: 0; /* Ensure no padding is applied */
}
.discussion-question h3:first-child {
    margin-top: 0 !important;
}
.discussion-question code {
    color: #000000;
    background-color: #e0d5ef;
}

/* Guided Notes */
.guided-notes {
    border: 3px solid #708a89;
    font-size: 14px;
    color: #000000;
    background-color: #f1f8f8;
    padding: 10px;
    border-radius: 5px;
    line-height: 1.5;
}
.guided-notes h3 {
    margin: 0;
    padding: 0;
    color: #000000;
}
.guided-notes h3:first-child, .discussion-question h3:first-child {
    margin-top: 0 !important;
}
.guided-notes ol, .guided-notes ul, .guided-notes li {
    margin-top: 5px;
    padding-left: 20px;
    color: #000000;
}
.guided-notes code {
    color: #000000;
    background-color: #dceeed;
}

/* Adjust line spacing for Level 3 headings */
.rendered_html h3 {
    font-size: 128.6%;
    margin: 1.55em 0 0 0;
    font-weight: bold;
    line-height: 1.5;
}
</style>
